footer {
  height: 100vh;
  margin-top: 20px;
  background-image: linear-gradient(to bottom right, #4e38bf, #9415db);
}
.footer-container {
  display: flex;
  padding: 50px;
}
.left-footer-form {
  width: 50%;
}
.right-footer-contact {
  width: 50%;
}
.social-icon {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
#form-title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}
.contact-title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
}
.input {
  width: 70%;
  padding: 10px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 576px) {
}
