.section-title{
    margin: 20px;
    font-size: 40px;
}
.projects {
  display: grid;
  gap: 20px;
  /* grid-template-columns: auto auto; */
  grid-template-columns: repeat(2, 1fr);
}
.project img {
  width: 100%;
}
.check-all-project {
  display: flex;
  justify-content: center;
}
.check-all-project button {
  padding: 15px 50px;
  background-color: var(--background-color);
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: xx-large;
  border-top: 1px solid wheat;
  border-bottom: 1px solid wheat;
  font-size: 40px;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 576px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
